/*dummy comment -  css used in gus calendars*/
.ui-cal-day {
	display: inline;
	float: left;
	width: 13.85%;
	background-color: #E7E7E9;
	margin-right:3px;
	border-left: none;
	min-height: 10em;
}

.ui-cal-header {
	width: 100%;
	text-align: center;
	height: 10%;
	font-size:10px;
}

.ui-cal-item {
	width: 100%;
	position:relative;
	float: left;
	display: block;
	float: left;
	background-color: #CC0000; /*#f00;*/
	color: #eee;
	margin: 3px 0;
	padding:5px;
	font-size:10px;
	overflow: visible;
	letter-spacing:.02em;
}

.ui-cal {
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	float: none;
	clear:both;
	min-height: 10em;
}

.ui-cal-items {
	display: block;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100px;
}

