
/* print.css 
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}
*/

.item_row {border-top:1px solid #ccc;}
.item_row td {border-right:1px solid #ccc;}
.item_row td {padding:.4em;}
.header {text-align:left;}
#footnotes {margin-top:1em;margin-bottom:1em; font-size:.8em;}
#total {text-align:right; font-size:1.4em; border-top:2px solid #000;}
.total_label {margin-right:1em; font-size: 1em;}
#date_invoice {width:100%;}
.right {text-align:right;}
#jobname {font-size:2em; margin:0 0 .2em;}
#customer {font-size:1.4em; margin:0 0 1em;}