
@import 'structure.css';

html {
    position: relative;
    min-height: 100%;

}
html,body{
	height: 100%;
}
body{

   /* margin: 0 0 100px; // bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
   /*	height: 100px; // set footer height after content established  */
    width: 100%;
}

/* util */
.container-fluid.center-block-vertical{
	display: table;
	width: 100%;
}
.container-fluid .center-block-vertical{
	display: table-cell;
	vertical-align: middle;
}

/* scaffolding */
main h1{
    margin-bottom: 3rem;
}

/* nav */
#gus-identity{
	margin-bottom: 3rem;
}

.gus-nav-container .affix{
    position: fixed !important;
    top: 2px;
    width: 16.66666667%;
}

#nav-bottom{
    position: absolute;
    bottom:    0;
    left: 0;
    right: 0;
}

div.gus-nav-container{
    padding: 0;
    text-align: center;
    height: 100vh;
}
.gus-nav-container li{
    text-transform: uppercase;
}

.gus-nav-container .row{
    margin-right: 0;
    margin-left: 0;
}
.gus-nav{
    height: 100vh;
}
#sales div:first-child{
    border-right: 1px solid #1a1f26;
    padding: 1rem 0 1rem 0;
}
#sales div:last-child{
    border-left: 1px solid #1a1f26;
    padding: 1rem 0 1rem 0;
}
#nav-footer div:first-child{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul.nav ul {
 width: 124px;
 margin-top: 0px;
 background-color: #D1D2D4;
 padding-bottom: 0px;
 padding-top: 0px;
}

ul.nav li:hover > ul {
 display: block;
 visibility: visible;
 top: 1px;
 left: 99%;
}

ul.nav ul {
 visibility: hidden;
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

/*//tabs*/
/* todo: remove browser select/active/focus styling */
.nav-tabs>li {
    border-bottom: 3px solid #09f;
}
.nav-tabs>li>a {
    color: #1a1f26;
}
#job-tabs .nav>li>a:hover, #job-tabs .nav>li>a:focus{
    background: none;
}
.nav-tabs>li.active ~ li  {
    border-bottom: 3px solid #e3e7ed;
}
.nav-tabs>li.active ~ li>a{
    color: #e3e7ed;
}

#job-tabs .table>thead>tr>th{
    padding-top: 1.5rem;
    padding-bottom: .75rem;
}

#job-tabs>ul.nav-tabs{
    margin-right: inherit;
    margin-left: inherit;
}

/*//alerts*/
.alert .text-inverse{
    color: #fff;
}

#main .alert:first-child {
    margin-top: 1em;
}

/* buttons */
.gus-btn{
    text-transform: uppercase;
}

/*//forms*/
.gus-input-group * {
    border-radius: 0 !important;
}
.gus-form .form-control,
.gus-form .btn,
.gus-form .well{
    border-radius: 0;
}

/* bootstrap input groups get set to a z-index of 2, causing overlap with jQuery UI datepicker. 
 * solution : associated element's non-statically positioned z-index is incremented by 1 by plugin
 */
.gus-datepicker{
    position: relative;
    z-index: 2;
}

.hidden-size{
    visibility: hidden;
    height: 0;
    width: 0;
}

#lines .well{
    position: relative;
}
#lines .well>.row.line_delete{
    margin-bottom: 2rem;
}
#lines .well>.row>.btn_line_delete{
    position: absolute;
    right: 0;
    top: 0;
}

/* job form */
#jobStatusDisplay{
    text-align: center;
}