## generic files to ignore
.buildpath
.project
.settings
.DS_Store
sftp-config.json
*.sublime-project
*.sublime-workspace

## yii application log files to ignore
*log
#protected/runtime/*.log*
protected/runtime/*

## Gus asset files to ignore
#protected/files/PrintJob/ART/*
#protected/files/PrintJob*
#protected/files/PrintJob*/*
protected/files*
assets/*
!assets/*.js
protected/files/*
