
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^quote\.eightsevencentral\.com$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.quote\.eightsevencentral\.com$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^/?$ "http\:\/\/gus\.eightsevencentral\.com\/quote" [R=301,L]
RewriteRule . index.php

RewriteCond %{HTTP_HOST} ^quote\.eightsevencentral\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.quote\.eightsevencentral\.com$
RewriteRule ^/?$ "http\:\/\/gus\.eightsevencentral\.com\/quote" [R=301,L]

